<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>Registrar nueva Persona</h1>
        </div>
        <div class="card-body">
            <th>Ingresa los datos correspondientes</th>
            <form >
                <div class="form-group">
                    <label for="idPersona" class="form-label">ID Persona</label>
                    <input type="number" class="form-control" name="idPersona" [(ngModel)]="persona.idPersona" >    
                </div>
                <div class="form-group">
                    <label for="nombre" class="form-label">Nombre (s)</label>
                    <input type="text" class="form-control" name="nombre" placeholder="Ej.: Mario ( o Mario Alonso)" [(ngModel)]="persona.nombre">    
                </div>
                <div class="form-group">
                    <label for="apellidoP" class="form-label">Apellido Paterno</label>
                    <input type="text" class="form-control" name="apellidoP" [(ngModel)]="persona.apellidoPaterno">    
                </div>
                <div class="form-group">
                    <label for="apellidoM" class="form-label">Apellido Materno</label>
                    <input type="text" class="form-control" name="apellidoM" [(ngModel)]="persona.apellidoMaterno">    
                </div>
                <div class="form-group">
                    <label for="edad" class="form-label">Edad</label>
                    <input type="number" class="form-control" name="edad" placeholder="Ej.: 25" [(ngModel)]="persona.edad">    
                </div>
                <div class="form-group">
                    <label for="correo" class="form-label">Correo</label>
                    <input type="text" class="form-control" name="correo" placeholder="Ej.: lucia@gmail.com" [(ngModel)]="persona.correo">    
                </div>
                <div>
                    <button type="button" class="btn btn-success btn-lg px-5" (click)="guardarP()">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
